<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.vincent.app.service"></context:component-scan>
    
    <context:property-placeholder location="classpath:vincentRpc.properties"/>
    
    <bean name="serviceRegistry" class="com.vincent.rpc.server.ServiceRegistry">
    	<constructor-arg name="registerAddress" value="${vincent.rpc.service.register.address}" ></constructor-arg>
    </bean>
    
    <bean name="vincentRpcServer" class="com.vincent.rpc.server.VincentRpcServer">
    	<property name="serviceAddress" value="${vincent.rpc.service.address}"></property>
    	<property name="serviceRegistry" ref="serviceRegistry"></property>
    </bean>

</beans>